@import "/src/foundations/colors/colors.scss";

.container-side-bar {
  background-color: $primary-color-4;
  height: calc(100vh - 85px);
  width: 257px;
}

.container-subcategory {
  display: flex;
}

.container-subcategory-store {
  overflow-y: scroll;
  width: calc(100% - 257px);
  height: calc(100vh - 85px);
}
